user {{ nginx_user }};
{% if concurrency is defined %}
worker_processes {{ concurrency }};
{% else %}
worker_processes {{ ansible_processor_vcpus }};
{% endif %}

pid /var/run/nginx.pid;

events {
  worker_connections 768;
}

http {
  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;
  # server_tokens off;
  
  # server_names_hash_bucket_size 64;
  # server_name_in_redirect off;
  
  include /etc/nginx/mime.types;
  default_type application/octet-stream;
  
  # Generally used log format that leaves out the IP address because GDPR
  log_format timed_combined 'x.x.x.x - $remote_user [$time_local] '
    '"$request" $status $body_bytes_sent '
    '"$http_referer" "$http_user_agent" '
    '$request_time $upstream_response_time $pipe $bytes_sent';

  access_log /var/log/nginx/access.log timed_combined;
  error_log /var/log/nginx/error.log;
  
  gzip on;
  gzip_disable "msie6";
  
  gzip_http_version 1.1;
  gzip_comp_level 5;
  gzip_min_length 256;
  gzip_proxied any;
  gzip_vary on;
  gzip_types
    application/atom+xml
    application/x-javascript
    application/javascript
    application/json
    application/rss+xml
    application/vnd.ms-fontobject
    application/x-font-ttf
    application/x-web-app-manifest+json
    application/xhtml+xml
    application/xml
    font/opentype
    image/svg+xml
    image/x-icon
    text/css
    text/plain
    text/x-component;
    # text/html is always compressed by HttpGzipModule

  # Request limiter
  limit_req_zone $binary_remote_addr zone=ddos:10m rate={{ nginx_request_limit_rate | default("2") }}r/s;

  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
